<main class="form-signin w-100 m-auto">
    <form>
      <img class="mb-4" src="../assets/bootstrap-logo.svg" alt="" width="72" height="57">
      <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
  
      <div class="form-floating">
        <input [(ngModel)]="contactNumber" type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
        <label for="floatingInput">Contact Number</label>
      </div>
      <div *ngIf="otp" class="form-floating">
        <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
        <label for="floatingPassword">Password</label>
      </div>
  
      <div  *ngIf = "otpSent"class="checkbox mb-3">
        <label>
         Resend OTP
        </label>
      </div>
      <button (click) = "getOtp()" *ngIf = "!otpSent" class="w-100 btn btn-lg btn-primary">Get OTP</button>
     
      
    </form>

    <ng-otp-input  *ngIf = "otpSent" (onInputChange)="onOtpChange($event)" [config]="{length:5}"></ng-otp-input>
  </main>
